<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mcxs.intellicentercontrol" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="28" />
	<application android:label="IntelliCenterControl" android:icon="@mipmap/icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>